@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , system-ui;
    scrollbar-width: smooth;
    color: white;
}

/* Global styles */
body{
    background-color: rgb(29,29,29);
}

a{
    text-decoration: none;
    cursor: pointer;
    
}

.textcolor{
    color: crimson;
}

.container{
    padding: 80px 0;
}

.row {
    margin: 0 40px;
}



/* Landing Section */

.nav__content{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 1;
    padding: 0 80px;
}



.nav__left, .nav__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--wrapper{
    width: 80px;
    margin-right: 32px;
}

.nav__logo{
    max-width: 100%;
    filter: invert(0.9);
}

.nav__link{
    margin: 0 16px;
    font-weight: 200;
    font-size: 18px;
    padding-bottom: 4px;
    border-bottom: 1px transparent solid;
    transition: color 400ms ease, border-bottom 400ms ease;
}

.nav__link:hover{
    color: crimson;
    border-bottom: 1px crimson solid;
}

.nav__input--wrapper{
    position: relative;
}

.nav__input{
    padding: 12px 4px 12px 32px;
    border-radius: 40px;
    width: 0px;
    background-color: transparent;
    color: #fff;
    border: none;
    transition: width 500ms ease;
    cursor: pointer;
    position: relative;
    left: 50px;
}

.nav__search{
    cursor: pointer;
}

.nav__settings, .nav__search{
    font-weight: 900;
    padding: 14px;
    
}

.nav__input:focus, .nav__input:active{
    width: 240px;
    outline: 2px white solid;
    cursor: text;
}

.movie__background--img{
    filter: opacity(30%);
}
.movie__background--wrapper{
    height: 420px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 60px 50px 0 rgb(5,5,5,0.5);
}

.movie__background--text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 16px;
}

.movie__background--title{
    font-size: 60px;
    font-weight: 200;
    margin-top: 80px;
    margin-bottom: 12px;
}

.movie__background--para{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
    width: 100%;
}

.movie__input--wrapper{
    position: relative;
}

.movie__input{
    padding: 24px 60px 24px 30px;
    border-radius: 40px;
    background-color: transparent;
    border: 2px white solid;
    font-size: 20px;
    transition: 400ms ease;
    max-width: 100%;
}

.movie__input:focus, .movie__input:active{
    transform: scale(1.02);
    box-shadow: 0 0  8px crimson;
    outline: none;
}

/* Movies Section */

.movies__content{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movies__top{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.movies__top--title{
    font-size: 32px;
    font-weight: 200;
}

.movies__search--result{
    padding: 8px 0;
    margin-left: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 10px crimson, 1px 1px 10px crimson;
    color: crimson;
    border-bottom: 1.5px crimson solid;
    font-size: 24px;
    display: none;
}

.movie__search--result--visible {
    display: block !important;
}

.movie__search{
    position: absolute;
    font-size: 24px;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    transition: 400ms ease;
    cursor: pointer;
}

.movies__list{
    margin-top: 60px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.movie{
    width: 198px;
    margin: 24px 8px;
    background-color: #1e1e1e;
    color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 12px 0px rgba(5,5,5,0.45);
    position: relative;
}

.movie__img--wrapper{
    background-color: #1e1e1e;
    width: 100%;
    max-height: 288px;
    overflow: hidden;
    z-index: 1;
}

.movie__img{
    width: 100%;
    max-height: 288px;
    height: 288px;
    transition: all 400ms ease;
    z-index: -2;
}

.movie__title{
    font-weight: 200;
    font-size: 14px;
    margin:  8px 0 24px 0;
    padding: 0 8px;
    color: #fff;
    text-align: center;
}

.movie__info--list{
    position: absolute;
    top: 45%;
    left: 8px;
    transform: translateY(-50%);
    width: 90%;
    z-index: 1;
    opacity: 0;
    transition: opacity 200ms;
    
}

.movie__info--title{
    position: absolute;
    text-align: left;
    color: #fff;
    font-size: 20px;
    top: 24px;
    left: 16px;
    opacity: 0;
    transition: opacity 400ms ease;
    
}

.movie__into--text{
    font-size: 15px;
    font-weight: 600;
}

.movie__info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        padding: 0 8px;
        color: #fff;
}

.movie__info:first-child{
    margin-top: 60px;
}

.movie__img--wrapper:hover .movie__img{
    transform: scale(1.04);
    filter: opacity(45%) blur(4px);
}

.movie__img--wrapper:hover .movie__info--title{
    opacity: 100%;
    transition: opacity 800ms;
}
.movie__img--wrapper:hover .movie__info--list{
    opacity: 100%;
    transition: opacity 800ms;
}


.movies-list-spinner{
    font-size: 64px;
    color: crimson;
    display: none !important;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    animation: loading-spinner 2000ms infinite;
}

.spinner-visible{
    font-size: 64px;
    color: crimson;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    animation: loading-spinner 2000ms infinite;
    display: block !important;
}

@keyframes loading-spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Small screens */
@media (max-width: 768px) {
   
    .row{
        margin: 0 16px;
    }

    .movie{
        width: 160px;
    }

    .movies__top{
        display: flex;
        flex-direction: column;
    }

    .movie__img--wrapper{
        max-height: 240px;
    }

    .movie__img{
        height: 240px;
    }

    .movie__info--list{
        font-size: 12px;
    }

    .movies__list{
       width: 100%; 
    }

    .movie__info--title{
        font-size: 16px;
    }

    .nav__content{
        padding: 0 40px;
    }

    .nav__link{
        font-size: 18px;
    }
}

@media (max-width: 640px){
    .nav__input, .nav__search, .nav__logo--wrapper{
        display: none;
        visibility: hidden;
    }

    .nav__logo--wrapper{
        margin-right: 8px;
    }

    .nav__content{
        padding-top: 24px;
    }

    
}

/* Mobile Devices */

@media (max-width: 550px){
    
    .movie__background--title{
        font-size: 40px;
    }

    .movie__background--para{
        font-size: 16px;
    }


   .movie__input{
    padding: 16px 0px 16px 30px;
   }

   .movies__search--result{
    font-size: 18px;
   }

   .movie {
    width: 124px;
   }
    .movie__img--wrapper{
        max-height: 188px;
    }

    .movie__img{
        max-height: 188px;
    }

    .movie__info--title{
        font-size: 12px;
    }

    .movie__info:first-child{
        margin-top: 40px;
    }

    .movie__into--text{
        font-size: 12px;
    }



}
   
